.web-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1%;
  top: 3%;
  padding: 0 6px;
  z-index: 1;
  cursor: pointer;
}

.wakuwaku {
  width: 360px;
  height: 55px;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: lighter;
}

.wakuwaku-2 {
  width: 235px;
  height: 27px;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: lighter;
}

.profil {
  top : 20px;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 30px;
  opacity: 0.7;
  background: url(../../assets/icons/login-icon.png);
  background-size: cover;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  padding: 5px 20px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 35px;
  right: 105px;
  top: 27px;
  background: #D9D9D9;
  opacity: 0.7;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
}

.search-icon {
  width: 27px;
  height: 27px;
  background: url('../../assets/icons/search-icon.png');
  background-size: cover;
}

.filter-icon {
  width: 25px;
  height: 25px;
  background: url('../../assets/icons/filter-icon.png');
  background-size: cover;
}

.create-event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  gap: 15px;
  position: absolute;
  width: 150px;
  height: 35px;
  right: 525px;
  top: 27px;
  background: rgba(6, 68, 112, 0.7);
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.create-text {
  width: 65px;
  height: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.create-button {
  width: 25px;
  height: 25px;
  background: url(../../assets/icons/create-icon.png);
  background-size: cover;
}

.event {
  position: relative;
  width: 1280px;
  height: 800px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 312px;
  height: 22px;
  left: 80px;
  top: 443px;
  background: #BA63AA;
  border-radius: 20px;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 700px;
  height: 400px;
  left: 550px;
  top: 180px;
  padding: 0 0 20px;
  gap: 30px;
}

.event-title, .event-description {
  width:700px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.event-title{
  font-size: 40px;
  height: 50px;
  line-height: 40px;
  opacity: 0.7;
}

.event-description {
  font-size: 20px;
  line-height: 20px;
  overflow: auto;
  height: 450px;
}

.event-image {
  position: absolute;
  width: 380px;
  height: 266px;
  left: 46px;
  top: 158px;
  filter: drop-shadow(0px 4px 10px #04F2FE);
  border-radius: 50px;
}

.event-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 14px;
  position: absolute;
  width: 308px;
  height: 276px;
  left: 80px;
  top: 478px;
  background: rgba(186, 99, 170, 0.2);
  border-radius: 20px;
  gap: 10px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 216px;
  gap: 20px;
}

.data-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 35px;
  gap: 10px;
}

.data-text {
  width: 250px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.inscription-icon, .date-icon, .creator-icon, .createOn-icon{
  width: 25px;
  height: 25px;
}

.location-icon {
  width: 20px;
  height: 25px;
  background: url(../../assets/icons/location-icon.png);
  background-size: cover;
}

.inscription-icon {
  background: url(../../assets/icons/inscription-icon.png);
  background-size: cover;
}

.date-icon {
  background : url(../../assets/icons/calendar-icon.png);
  background-size: cover;
}

.creator-icon {
  background: url(../../assets/icons/creator-icon.png);
  background-size: cover;
}

.createOn-icon {
  background: url(../../assets/icons/createOn-icon.png);
  background-size: cover;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 258px;
    height: 38px;
    left: 770px;
    top: 575px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;
}

.register-user
{
    width: 99px;
    height: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor : pointer;
    left:100px;
}

.button-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 258px;
    height: 38px;
    left: 770px;
    top: 650px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 258px;
    height: 38px;
    left: 770px;
    top: 650px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 258px;
    height: 38px;
    left: 620px;
    top: 575px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    cursor : pointer;
}

.delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 258px;
    height: 38px;
    left: 920px;
    top: 575px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    cursor : pointer;
}

.confirmDelete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 875px;
    height: 38px;
    left: 500px;
    top: 625px;
    gap: 40px;
    background: rgba(6, 68, 112, 0.7);
    border-radius: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.confirmDelete-button-oui{
    border : 1px solid #FFFFFF;
    background-color: #00A697;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor : pointer;
}

.confirmDelete-button-non{
    border : 1px solid #FFFFFF;
    background-color: #BA63AA;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor : pointer;
}


.feedback-container {
  display: flex;
  flex-direction: column;
  margin-top: 800px;;
  box-sizing: border-box;
  align-items: center;
}

.feedback-user{
  margin-top: 10px;
  margin-bottom: -20px;
  font-size:20px;
  width: 1100px;
  height: 45px;
  background-size: cover;
}

.feedback-text {
  width: 1100px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5; 
  overflow-y: auto; 
  max-height: 150px;
  height: 250px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: -20px;
}

.feedback-rate {
  display: flex; 
  width: 1100px;
  justify-content: left;
  align-items: center;
  gap: 850px;
}


.feedback-form {
  border: 1px solid #FFFFFF; 
  background-color: rgba(186, 99, 170, 0.2); 
  padding: 20px; 
  border-radius: 50px; 
  width: 1200px;
  margin: auto; 
  text-align: center; 
  margin-bottom: 50px; 
}

.feedback-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 1280px;
  color: #FFFFFF;
}

.feedback {
  width: 1200px;
  height: 220px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
}

.comment-feedback {
  width: 1150px;
  height: 150px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2); 
  color: #FFFFFF; 
  resize: none; 
  overflow: auto;
  overflow-wrap: break-word;
}

.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-block;
  font-size: 2rem;
}

.rating input {
  display: none;
}

.rating label {
  color: #ddd;
  cursor: pointer;
  font-size: 2rem;
}

.rating input:checked ~ label,
.rating input:checked ~ label ~ label {
  color: #f5b301;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #f5b301;
}

.submit-feedback, .delete-feedback {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #BA63AA;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.submit-feedback{
  color: aliceblue;
  margin: auto;

}

.rating span {
  cursor: pointer;
}

.rating .checked {
  color: #f5b301;
}