<div class="web-name" routerLink="/mainPage">
  <div class="wakuwaku">わくわくていこく</div>
  <div class="wakuwaku-2">WakuWaku Teikoku</div>
</div>

<div class="profil" routerLink="/managePage"></div>

<div class="create-event" routerLink="/createEvent">
  <div class="create-text">Créer</div>
  <div class="create-button"></div>
</div>

<div class="search" routerLink="/mainPage">
  <div class="search-icon"></div>
  <div class="filter-icon"></div>
</div>

<div class="event">
  <div class="category">
    <div class="category-name"> {{ event.categoryName }}</div>
  </div>
  <div class="event-data">
    <div class="event-title"> {{ event.eventName }}</div>
    <div class="event-description">{{ event.eventDescription }}</div>
  </div>
  <img class="event-image" *ngIf="event.image" [src]="'data:image/jpeg;base64,' + event.image" alt="Event Image">

  <div class="event-box">
    <div class="event-info">
      <div class="data-form">
        <div class="location-icon"></div>
        <div class="data-text">{{ event.eventLocation }}</div>
      </div>
      <div class="data-form">
        <div class="inscription-icon"></div>
        <div class="data-text">{{listRegistered.length}} inscriptions / {{event.maxCapacity}}</div>
      </div>
      <div class="data-form">
        <div class="date-icon"></div>
        <div class="data-text"> {{formatDate(event.eventDate)}}</div>
      </div>
      <div class="data-form">
        <div class="creator-icon"></div>
        <div class="data-text">{{ creatorName }}</div>
      </div>
      <div class="data-form">
        <div class="createOn-icon"></div>
        <div class="data-text">Créé le {{formatDate(event.createdOn)}}</div>
      </div>
    </div>
  </div>

  <div class="button" *ngIf="creator===false">
    <div class="register-user" *ngIf="registered===false" (click)="registration()">Réserver</div>
    <div class="register-user" *ngIf="registered===true" (click)="unregistration()">Désinscrire</div>
  </div>
  <div *ngIf="creator===true">
    <div class="edit">Modifier</div>
    <div class="delete" (click)="deleteEvent()">Supprimer</div>
  </div>
</div>