.web-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1%;
  top: 3%;
  padding: 0 6px;
  z-index: 1;
  cursor: pointer;
}

.wakuwaku {
  width: 360px;
  height: 55px;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: lighter;
}

.wakuwaku-2 {
  width: 235px;
  height: 27px;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7;
  font-weight: lighter;
}

.profil {
  top : 20px;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 30px;
  opacity: 0.7;
  background: url(../../assets/icons/login-icon.png);
  background-size: cover;
  cursor: pointer;
}

.create-event {
  position: relative;
  justify-content: space-around; 
  width: 1280px;
  height: 800px;
  left: -20px
}

.preview-image {
  object-fit: cover;
}

.add-photo{
  padding: 100px 170px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 1;
}

.add-photo, .preview-image {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 400px;
  height: 250px;
  top: 170px;
  left: 70px;
  border-radius: 50px;
}

.add-photo input[type="file"] {
  display: none;
}

.photo-icon {
  width: 45px;
  height: 40px;
  background: url(../../assets/icons/photo-icon.png);
  background-size: cover;
  z-index: 0;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  gap: 20px; 
  position: relative; 
  width: 450px;
  top: 435px;
  left : 45px;
  padding: 20px;
}

.list-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  gap: 13px;
  width: 184px;
  height: 37px;
  background: #BA63AA;
  border-radius: 20px;
  cursor: pointer;
}

.categories-name {
  font-size: 25px;
  line-height: 27px;
  color: #FFFFFF;
}

.list-icon {
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 10px solid #FFFFFF;
}

.category-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: absolute;
  left: 280px;
  top: 500px;
  width: 180px;
  border: #FFFFFF;
  border: 3px solid rgba(186, 99, 170, 0.7);
  border-radius: 20px;
  color: #FFFFFF;
  padding: 15px;
}

.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 20px;
}

.category-item input {
  width: 17px;
  height: 17px;
  background: #FFFFFF;
  border: 2px solid #E1E1E2;
  border-radius: 3px;
  appearance: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item input:checked {
  background: #BA63AA;
  border: none;
}

.category-item input:checked::before {
  content: '✔';
  font-size: 15px;
  color: #FFFFFF;
}

.create-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 18px;
  gap: 23px;
  width: 151px;
  height: 37px;
  background: #BA63AA;
  border-radius: 20px;
}

.create-icon {
  width: 25px;
  height: 25px;
  background: url(../../assets/icons/create-icon.png);
  background-size: cover;
}

.creer {
  font-size: 25px;
  line-height: 27px;
  color: #FFFFFF;
}
























































.event-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 25px;
  position: absolute;
  width: 593px;
  height: 454px;
  left: 599px;
  top: 150px;
}

.event-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  width: 593px;
  height: 62px;
}

.event-name label {
  width: 593px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.rectangle-2 {
  box-sizing: border-box;
  width: 593px;
  height: 37px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.rectangle-3 {
  box-sizing: border-box;
  width: 182px;
  height: 37px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.rectangle-4 {
  box-sizing: border-box;
  width: 593px;
  height: 237px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.rectangle-2 input, .rectangle-3 input, .rectangle-4 textarea {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
  flex: 1;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'KoPub Batang';
  font-size: 16px;
  line-height: 18px;
  outline: none;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5px;
  width: 593px;
  height: 228px;
}

.description label {
  width: 593px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 593px;
  height: 37px;
  isolation: isolate;
}

.location label {
  width: 128px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 30px;
  width: 593px;
  height: 37px;
  isolation: isolate;
}

.date label {
  width: 128px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}

.place {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 307px;
  height: 37px;
}

.place label {
  width: 150px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}

.create-event-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  gap: 23px;
  position: absolute;
  width: 597px;
  height: 37px;
  left: 342px;
  top: 729px;
  background: rgba(6, 68, 112, 0.7);
  box-shadow: 0 4px 10px #FFFFFF;
  border-radius: 20px;
}

.share-event {
  width: 299px;
  height: 27px;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.errors-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 499px;
  top: 680px;
  width: 300px;
  color: #ef8fc4;
}