<div class="profil" routerLink="/login"></div>

<div class="accueil">

  <div class="web-name" routerLink="/home">
    <div class="wakuwaku">わくわくていこく</div>
    <div class="wakuwaku-2">WakuWaku Teikoku</div>
  </div>
  <div class="main-text">Explorez une vaste gamme d'activités captivantes, allant des aventures immersives et desdéfis sportifs aux événements culturels et aux divertissements en groupe.</div>
  <div class="cta-text" routerLink="/login">Inscrivez-vous / Connectez-vous dès maintenant pour partager des moments inoubliables avec vos amis ou rencontrer de nouvelles personnes aux intérêts similaires !</div>
  <div class="image-1"></div>
  <div class="image-2"></div>
  <div class="image-3"></div>
      
</div>